<h1>The Basics</h1>

<p>
  Liquid Tether renders it's content near the application root and positions it
  using the <a>Tether.js</a> library. However, the component retains its normal
  context within Ember, allowing it to communicate with surrounding components
  using attributes and actions.
</p>

<p>
  This allows you to embed your tethered objects anywhere in your code, meaning
  they can appear where they belong logically in your templates. You don't have
  to deal with any idiosyncratic services or APIs, and you don't have to worry
  about the peculiarities of positioning elements with CSS - It Just Works.
</p>
